@font-face {
  font-family: 'UdemyIcons';
  src: url(./fonts/UdemyIcons.woff2) format("woff2"); }

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans1.woff2) format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans2.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans3.woff2) format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans4.woff2) format("woff2");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #333;
  margin: 0;
  padding: 0;
  background: #f4f4f4; }

html {
  font-size: 15.4px;
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

a {
  color: #1376d7;
  font-weight: 400;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    cursor: pointer; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0; }

figcaption, figure {
  display: block; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700; }

.blockLabel, label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400; }

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

img {
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

b, strong {
  font-weight: 700; }

.a1, .a2, .h1, .h2, h1, h2 {
  font-weight: 300; }

.h2, h2 {
  font-size: 24px; }

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 21px;
  margin-bottom: 10.5px; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

p {
  margin: 0 0 10.5px; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 11px 12px;
  font-size: 15px;
  line-height: 1.43;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-primary {
  color: #fff;
  background-color: #17aa1c;
  border-color: transparent; }

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.btn:focus, .dropdown-toggle:focus, :focus, a:focus, input:focus {
  outline: none; }

.dropdown-menu-link, .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.43;
  color: #333;
  white-space: nowrap; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 15px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  .dropdown-menu a {
    color: #888;
    font-weight: 600;
    padding: 2px 15px 2px 10px;
    display: block; }

.dropdown .dropdown-menu-link, .dropdown .dropdown-menu > li > a, .dropup .dropdown-menu-link, .dropup .dropdown-menu > li > a {
  color: rgba(0, 0, 0, 0.8);
  padding: 5px 12px; }

.dropdown .dropdown-menu {
  max-width: calc(100vw - 30px); }

.dropup .dropdown-menu {
  max-width: calc(100vw - 30px); }

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }

.form-control[type=search] {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  box-sizing: border-box; }

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0; }
  .input-group .form-control:focus {
    z-index: 3; }

.form-control:focus, .has-success .form-control:focus, .success .form-control:focus {
  box-shadow: inset 0 0 1px rgba(23, 170, 28, 0.5); }

.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell; }

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0; }

.input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group .form-control:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap; }
  .input-group-btn .btn {
    position: relative; }
  .input-group-btn:last-child .btn, .input-group-btn:last-child .btn-group {
    z-index: 2;
    margin-left: -1px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px; }

.container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
  content: " ";
  display: table; }

.container-fluid:after, .container:after, .row:after {
  clear: both; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.open > a {
  outline: 0; }

.close {
  float: right;
  font-size: 22.5px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: none;
  opacity: .2;
  filter: alpha(opacity=20); }

.udi {
  vertical-align: -8%;
  font-family: UdemyIcons !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.udi-minus:before {
  content: "\F068"; }

.tal {
  text-align: left; }

.timeTo {
  font-family: Tahoma,Verdana,Aial,sans-serif;
  font-size: 28px;
  line-height: 108%;
  font-weight: 700;
  height: 32px; }
  .timeTo figure {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .timeTo figcaption {
    text-align: center;
    line-height: 80%;
    font-weight: 400;
    color: #888; }
  .timeTo div {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 30px;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    overflow: hidden; }
    .timeTo div.first {
      border-left: 1px solid silver; }
  .timeTo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 3px; }

.hello-spacing-wrapper > * {
  margin: 10px 0; }

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.h100p {
  height: 100%; }

.mr5 {
  margin-right: 5px; }

.mt10 {
  margin-top: 10px; }

.fx-dc, .fxdc {
  display: flex;
  flex-direction: column; }

.fx-lt, .fxw {
  display: flex; }

.fx-wrap, .fxwrap {
  flex-wrap: wrap; }

.db {
  display: block; }

[role=button] {
  cursor: pointer; }

.udi-next:before {
  content: "\E73E"; }

.udi-development:before {
  content: "\E6AD"; }

.udi-business:before {
  content: "\E69F"; }

.udi-it-and-software:before {
  content: "\E6D2"; }

.udi-web-development:before {
  content: "\E720"; }

.udi-search:before {
  content: "\F002"; }

.udi-menu:before {
  content: "\E73B"; }

.udi-previous:before {
  content: "\E741"; }

.udi-globe:before {
  content: "\F0AC"; }

.udi-caret-up:before {
  content: "\F0D8"; }

.ml20 {
  margin-left: 20px; }

.ml5 {
  margin-left: 5px; }

.fx {
  flex: 1;
  min-width: 1px; }

.fx-lc, .fxac {
  display: flex;
  flex-direction: row;
  align-items: center; }

.pos-r {
  position: relative; }

.streamer, .streamer .quick-search-dropdown-v4 {
  width: 100%; }

.streamer {
  display: flex;
  align-items: flex-end;
  background-color: #524336;
  background-image: url("./../stylesheets/images/homepage-hero-mobile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px; }

.streamer__content {
  box-sizing: content-box;
  max-width: 460px; }

.streamer__headline {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.17;
  margin-bottom: 10px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.streamer__text {
  color: #fff;
  font-size: 13px;
  line-height: 1.46;
  margin-bottom: 20px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.streamer-search {
  position: relative;
  width: 100%; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.form-control {
  width: 100%;
  height: 44px;
  padding: 11px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .form-control:focus {
    border-color: #17aa1c;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 170, 28, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 170, 28, 0.6); }

.form-control, output {
  display: block;
  font-size: 15px;
  line-height: 1.43;
  color: #555; }

.form-control {
  box-shadow: none;
  font-size: 16px;
  padding: 10px 12px;
  transition: border-color .08s ease-in-out,box-shadow .08s ease-in-out; }

.dn-force {
  display: none !important; }

.merchandising-course-card--card--18b3i {
  display: inline-block;
  margin: 0 15px 15px 0;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 216px;
  height: 290px; }
  .merchandising-course-card--card--18b3i a {
    color: #111;
    display: block;
    font-size: 13px;
    height: 100%; }
    .merchandising-course-card--card--18b3i a:hover .merchandising-course-card--card__options--2qpEK {
      background: #111; }
      .merchandising-course-card--card--18b3i a:hover .merchandising-course-card--card__options--2qpEK img {
        opacity: .5; }
  .merchandising-course-card--card--18b3i .merchandising-course-card--mask--22Fbx {
    background: #fff;
    color: #000;
    display: block;
    font-size: small;
    overflow: hidden;
    position: relative; }
  .merchandising-course-card--card--18b3i .merchandising-course-card--card__image--3XfHl {
    display: block;
    height: auto;
    overflow: hidden;
    position: relative; }
  .merchandising-course-card--card--18b3i .merchandising-course-card--card__options--2qpEK {
    display: block;
    right: 10px;
    top: 10px; }
    .merchandising-course-card--card--18b3i .merchandising-course-card--card__options--2qpEK img {
      width: 100%;
      opacity: 1;
      -webkit-filter: sepia(0.1) grayscale(0.1) saturate(0.8);
      filter: sepia(0.1) grayscale(0.1) saturate(0.8); }
  .merchandising-course-card--card--18b3i .merchandising-course-card--card__details--2yDtK {
    display: block;
    padding: 0 10px; }
    .merchandising-course-card--card--18b3i .merchandising-course-card--card__details--2yDtK .merchandising-course-card--details__name--f-IuD {
      display: block !important;
      display: -webkit-box !important;
      -webkit-line-clamp: 2;
      -moz-line-clamp: 2;
      -ms-line-clamp: 2;
      -o-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      -o-box-orient: vertical;
      box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      font-weight: 600;
      height: 36px;
      min-height: 42px;
      margin: 15px 0 0 5px;
      font-size: 15px;
      color: #333; }
    .merchandising-course-card--card--18b3i .merchandising-course-card--card__details--2yDtK .merchandising-course-card--card__instructor-titles--2G1cg {
      display: block !important;
      display: -webkit-box !important;
      -webkit-line-clamp: 1;
      -moz-line-clamp: 1;
      -ms-line-clamp: 1;
      -o-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      -o-box-orient: vertical;
      box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      min-height: 21px;
      height: 21px;
      font-size: 12px;
      color: #666;
      margin: 10px 0 0 5px; }
  .merchandising-course-card--card--18b3i .merchandising-course-card--card__pricing--2WOFo {
    display: flex;
    align-items: flex-end;
    float: right;
    margin-right: 10px;
    min-height: 36px;
    padding-bottom: 15px; }

.price--list-price--1tTm9 {
  order: -1;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 400;
  font-size: 13px;
  margin-left: 0;
  margin-bottom: 2px;
  text-decoration: line-through; }

.price--price--3DRkq {
  color: #17aa1c;
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px; }

.c_badge, .exp_c_badge {
  display: inline-block;
  position: relative;
  top: 3px; }

.exp_c_badge {
  top: 12px;
  margin-bottom: 17px; }

.exp_bestseller-badge-course-card {
  position: absolute !important;
  top: 12px !important;
  left: -4px !important;
  z-index: 1 !important;
  pointer-events: none !important; }

.exp_c_badge--bestseller {
  float: left;
  font-size: 9px;
  line-height: 1.5;
  margin: 0 10px 0 0;
  color: rgba(0, 0, 0, 0.8);
  background: #ffd000;
  display: inline-block;
  padding: 2px 5px 2px 10px;
  border-radius: 2px 0 2px 2px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  text-align: center;
  background: #ffd100;
  padding: 2px 5px;
  border-radius: 3px; }
  .exp_c_badge--bestseller .c_badge__inner {
    width: 59px;
    height: 13px;
    position: relative;
    z-index: 2; }

.star-rating--details__rating--3ldWC {
  display: flex;
  margin-bottom: 10px;
  background: none;
  padding: 5px 15px 0 5px; }
  .star-rating--details__rating--3ldWC .star-rating--star-rating--static--37uZx {
    color: #aaa;
    display: inline-block;
    margin-right: 5px;
    margin-left: -2px;
    margin-top: 2px;
    position: relative;
    white-space: nowrap; }
    .star-rating--details__rating--3ldWC .star-rating--star-rating--static--37uZx.star-rating--star-rating--smaller--1eEd_:before, .star-rating--details__rating--3ldWC .star-rating--star-rating--static--37uZx.star-rating--star-rating--smaller--1eEd_ span:before {
      font-size: 15px;
      font-size: 13px;
      opacity: .7; }
    .star-rating--details__rating--3ldWC .star-rating--star-rating--static--37uZx span {
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      white-space: nowrap;
      z-index: 2; }
      .star-rating--details__rating--3ldWC .star-rating--star-rating--static--37uZx span:before {
        color: #17aa1c; }
    .star-rating--details__rating--3ldWC .star-rating--star-rating--static--37uZx:before, .star-rating--details__rating--3ldWC .star-rating--star-rating--static--37uZx span:before {
      font-family: UdemyIcons;
      content: "\2009\F005\2009\2009\F005\2009\2009\F005\2009\2009\F005\2009\2009\F005\2009";
      font-size: 20px;
      letter-spacing: -.5px;
      line-height: 1; }
  .star-rating--details__rating--3ldWC .star-rating--star-rating--smaller--1eEd_:before, .star-rating--details__rating--3ldWC .star-rating--star-rating--smaller--1eEd_ span:before {
    font-size: 15px;
    font-size: 13px;
    opacity: .7; }
  .star-rating--details__rating--3ldWC .star-rating--reviews__stats--BPxPC {
    font-weight: 600;
    color: #333; }
  .star-rating--details__rating--3ldWC .star-rating--reviews__count--2F4MI {
    color: #999;
    font-size: 12px;
    margin-left: 5px; }

.slider-list--slider-wrapper--3jv2F {
  margin: 0 auto; }
  .slider-list--slider-wrapper--3jv2F .slider-list--slider-top--1zrpT {
    display: flex;
    justify-content: space-between; }
  .slider-list--slider-wrapper--3jv2F.slider-list--slider-mask--1imJz {
    overflow: hidden;
    padding: 0 0 15px; }

.course-list-unit--title-container--ih3Jq {
  padding-right: 40px; }

.channels h2 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 10px; }

.c_discovery-units__title {
  font-weight: 500;
  text-align: left;
  flex: 1;
  min-width: 1px;
  margin-bottom: 15px; }

.flickity-prev-next-button:disabled {
  display: none; }

.flickity-prev-next-button.next {
  right: -20px !important;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  position: absolute;
  color: rgba(0, 0, 0, 0.55);
  transition: .3s;
  height: auto;
  width: 46px;
  padding: 48px 10px;
  border-radius: 0;
  background: #f4f4f4;
  box-shadow: -2px 0 3px -1px rgba(0, 0, 0, 0.2);
  opacity: .8; }
  .flickity-prev-next-button.next svg {
    position: absolute;
    right: 20px;
    top: 45%;
    width: 15px;
    height: 15px;
    opacity: 0.8; }
  .flickity-prev-next-button.next:hover {
    opacity: 1;
    background-color: #f7f7f7;
    border-color: rgba(0, 0, 0, 0.2); }
  .flickity-prev-next-button.next:after {
    background: -moz-linear-gradient(left, rgba(245, 245, 245, 0) 0, #f4f4f4 50%);
    background: -webkit-linear-gradient(left, rgba(245, 245, 245, 0), #f4f4f4 50%);
    background: linear-gradient(90deg, rgba(245, 245, 245, 0) 0, #f4f4f4 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00f4f4f4",endColorstr="#f4f4f4",GradientType=1);
    content: "";
    display: block;
    position: absolute;
    right: -6px;
    width: 20px;
    height: 96px;
    top: 0;
    z-index: 4;
    opacity: 1; }

.flickity-prev-next-button.previous {
  left: -20px !important;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  position: absolute;
  color: rgba(0, 0, 0, 0.55);
  transition: .3s;
  height: auto;
  width: 46px;
  padding: 48px 10px;
  border-radius: 0;
  background: #f4f4f4;
  box-shadow: -2px 0 3px -1px rgba(0, 0, 0, 0.2);
  opacity: .8; }
  .flickity-prev-next-button.previous svg {
    position: absolute;
    left: 20px;
    top: 45%;
    width: 15px;
    height: 15px;
    opacity: 0.8; }
  .flickity-prev-next-button.previous:hover {
    opacity: 1;
    background-color: #f7f7f7;
    border-color: rgba(0, 0, 0, 0.2); }
  .flickity-prev-next-button.previous:after {
    background: -moz-linear-gradient(left, #f4f4f4 20%, #f4f4f4 50%, rgba(245, 245, 245, 0) 100%);
    background: -webkit-linear-gradient(left, #f4f4f4 20%, #f4f4f4 50%, rgba(245, 245, 245, 0));
    background: linear-gradient(90deg, #f4f4f4 20%, #f4f4f4 50%, rgba(245, 245, 245, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4",endColorstr="#00f4f4f4",GradientType=1);
    content: "";
    display: block;
    position: absolute;
    left: -6px;
    width: 20px;
    height: 96px;
    top: 0;
    z-index: 4;
    opacity: 1; }

.c_collection__item {
  flex: 1;
  min-width: 1px;
  margin: 0 30px 30px 0;
  text-align: center; }
  .c_collection__item:last-child {
    margin-right: 0; }

.c_discovery-units__title-container {
  flex: 1;
  min-width: 1px; }

.c_collection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.c_collection--seven .c_collection__item {
  flex: auto;
  min-width: 1px; }
  .c_collection--seven .c_collection__item:first-child, .c_collection--seven .c_collection__item:nth-child(2), .c_collection--seven .c_collection__item:nth-child(3) {
    width: 30%; }
  .c_collection--seven .c_collection__item:nth-child(3) {
    margin-right: 0; }
  .c_collection--seven .c_collection__item img {
    width: 100%;
    transition: opacity .3s ease-out; }
  .c_collection--seven .c_collection__item:nth-child(n+4) {
    width: 15%; }

.c_collection__img-wrap {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  margin-bottom: 15px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.55);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.55); }

.c_collection__desc {
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 400;
  color: #111; }

.slick-carousel {
  position: relative;
  height: 365px;
  margin: 0 15px;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.editorial-instructor-unit--c_editorial-unit--hwtt0 {
  width: 100%;
  background-color: #333;
  height: 365px;
  margin-bottom: 40px;
  padding: 30px;
  position: relative; }

.editorial-instructor-unit--c_editorial-unit--bg--22q83 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  overflow: hidden; }
  .editorial-instructor-unit--c_editorial-unit--bg--22q83 .editorial-instructor-unit--c_editorial-unit--bg--22q83:before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 680px;
    height: 100%;
    display: block;
    background: -webkit-linear-gradient(270deg, rgba(24, 26, 29, 0) 0, rgba(25, 28, 32, 0.7) 90%);
    background: -moz-linear-gradient(to left, rgba(24, 26, 29, 0) 0, rgba(25, 28, 32, 0.7) 90%);
    background: -ms-linear-gradient(to left, rgba(24, 26, 29, 0) 0, rgba(25, 28, 32, 0.7) 90%);
    background: -o-linear-gradient(to left, rgba(24, 26, 29, 0) 0, rgba(25, 28, 32, 0.7) 90%);
    background: linear-gradient(270deg, rgba(24, 26, 29, 0) 0, rgba(25, 28, 32, 0.7) 90%);
    z-index: 1; }

.editorial-instructor-unit--c_editorial-unit__bg-image-force--4B_R4 {
  top: 0;
  position: absolute;
  width: auto;
  height: 100%;
  left: 50%;
  max-width: none;
  transform: translateX(-50%); }

.editorial-instructor-unit--c_editorial-unit__inner--3_uHk {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 2; }

.editorial-instructor-unit--c_editorial-unit__left--2dDd5 {
  color: #fff;
  flex: 0 1 auto;
  min-width: 1px;
  max-width: 650px;
  margin-right: auto;
  display: flex;
  flex-direction: column; }

.editorial-instructor-unit--c_editorial-unit__label--goMVQ {
  display: block; }

.editorial-instructor-unit--c_editorial-unit__title--3e1Au {
  display: inline-block; }
  .editorial-instructor-unit--c_editorial-unit__title--3e1Au h1 {
    font-size: 30px;
    line-height: 1.27;
    font-weight: 600;
    margin: 0 0 20px;
    padding: 0; }

.editorial-instructor-unit--c_editorial-unit__text-block--3wstc {
  max-width: 465px; }

.editorial-instructor-unit--c_editorial-unit__text-block--3wstc {
  font-size: 15px;
  margin: 0 0 15px;
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -moz-line-clamp: 4;
  -ms-line-clamp: 4;
  -o-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 85px;
  visibility: visible; }

.editorial-instructor-unit--c_editorial-unit__student-count--2B7eK {
  display: inherit; }

.editorial-instructor-unit--c_editorial-unit__secondary-info--raUln {
  font-weight: 700; }

.editorial-instructor-unit--c_editorial-unit__secondary-info--raUln {
  font-size: 15px;
  font-weight: 400;
  display: block;
  padding-bottom: 10px; }

.editorial-instructor-unit--c_editorial-unit__click-area--1P_OQ:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 27%;
  height: 100%; }

.editorial-instructor-unit--c_editorial-unit__footer--35Zi2 {
  margin: auto 0 0; }

.editorial-instructor-unit--c_editorial-unit__featured-label--3fZCy {
  font-size: 13px;
  margin: 0 0 5px;
  padding: 0;
  display: block;
  font-weight: 600; }

.editorial-instructor-unit--c_editorial-unit__instructor-cta--3Jx7q {
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  width: 220px;
  display: inline-block;
  margin: 0 20px 0 0; }
  .editorial-instructor-unit--c_editorial-unit__instructor-cta--3Jx7q img {
    width: 55px;
    height: 55px;
    display: inline-block;
    margin-right: -4px; }
  .editorial-instructor-unit--c_editorial-unit__instructor-cta--3Jx7q span {
    display: inline-block;
    vertical-align: middle;
    width: 165px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px; }

.flickity-page-dots {
  position: relative !important;
  margin: 30px auto !important; }
  .flickity-page-dots .dot {
    margin: 0 5px !important;
    background: #cbcbcb; }
    .flickity-page-dots .dot.is-selected {
      background: #17aa1c; }

.slick-carousel {
  opacity: 0.5 !important; }
  .slick-carousel.is-selected {
    opacity: 1 !important; }

.non-student-cta {
  display: flex;
  flex-direction: column;
  padding: 0 20px; }

.non-student-cta__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 36px 0 22px; }
  .non-student-cta__block:first-child {
    border-bottom: 1px solid #dfdfdf;
    border-right: none;
    padding: 0 0 22px; }

.non-student-cta__header {
  font-size: 18px;
  padding-top: 3px; }
  .non-student-cta__header a {
    color: #333; }

.non-student-cta__content {
  font-size: 13px;
  padding-top: 3px; }

.non-student-cta__link a {
  margin-top: 1em; }

.lang-dropdown {
  margin-top: -4px;
  margin-right: 25px; }
  .lang-dropdown .dropdown-toggle {
    display: block;
    white-space: nowrap; }
  .lang-dropdown .dropdown-menu {
    padding: 10px 5px; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (max-width: 1440px) {
  .slick-carousel {
    width: 945px; } }

@media (max-width: 1024px) {
  .slick-carousel {
    width: 778px; } }

@media (max-width: 1431px) {
  .streamer__content {
    padding-left: 112px; } }

@media (max-width: 992px) {
  .streamer__content {
    padding-left: 77px; }
  .slick-carousel {
    width: 595px;
    margin: 0 10px; } }

@media (max-width: 991px) {
  .editorial-instructor-unit--c_editorial-unit__left--2dDd5 {
    max-width: 490px; }
  .editorial-instructor-unit--c_editorial-unit--bg--22q83:before {
    width: 370px; }
  .editorial-instructor-unit--c_editorial-unit__text-block--3wstc {
    display: block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    -o-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 63px;
    visibility: visible;
    max-width: 325px; }
  .editorial-instructor-unit--c_editorial-unit__instructor-cta--3Jx7q:last-child {
    display: none; } }

@media (max-width: 767px) {
  .editorial-instructor-unit--c_editorial-unit__title--3e1Au h1 {
    font-size: 28px;
    line-height: 1.36;
    margin-bottom: 10px; }
  .editorial-instructor-unit--c_editorial-unit__instructor-cta--3Jx7q {
    margin-right: 16px; } }

@media (max-width: 600px) {
  .slick-carousel {
    width: 100%;
    margin: 0;
    height: 250px; } }

@media (max-width: 575px) {
  .editorial-instructor-unit--c_editorial-unit--hwtt0 {
    height: 250px;
    padding: 20px;
    position: relative;
    background-position: 50%;
    background-size: cover; }
  .editorial-instructor-unit--c_editorial-unit__left--2dDd5 {
    max-width: 100%;
    margin-right: 0; }
  .editorial-instructor-unit--c_editorial-unit__label--goMVQ {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    color: #fff !important; }
  .editorial-instructor-unit--c_editorial-unit__title--3e1Au {
    display: inline-block; }
    .editorial-instructor-unit--c_editorial-unit__title--3e1Au h1 {
      font-size: 18px;
      line-height: 1.22;
      margin-bottom: 10px;
      color: #fff !important; }
  .editorial-instructor-unit--c_editorial-unit__featured-label--3fZCy, .editorial-instructor-unit--c_editorial-unit__secondary-info--raUln {
    display: none; }
  .editorial-instructor-unit--c_editorial-unit__secondary-info--raUln {
    font-size: 12px;
    color: #fff !important; }
  .editorial-instructor-unit--c_editorial-unit--hwtt0:before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: -webkit-linear-gradient(270deg, rgba(24, 26, 29, 0) 0, rgba(25, 28, 32, 0.7) 90%);
    background: -moz-linear-gradient(to left, rgba(24, 26, 29, 0) 0, rgba(25, 28, 32, 0.7) 90%);
    background: -ms-linear-gradient(to left, rgba(24, 26, 29, 0) 0, rgba(25, 28, 32, 0.7) 90%);
    background: -o-linear-gradient(to left, rgba(24, 26, 29, 0) 0, rgba(25, 28, 32, 0.7) 90%);
    background: linear-gradient(270deg, rgba(24, 26, 29, 0) 0, rgba(25, 28, 32, 0.7) 90%);
    z-index: 1; }
  .editorial-instructor-unit--c_editorial-unit__text-block--3wstc {
    display: block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    -o-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 48px;
    color: #fff !important;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 10px;
    max-width: 194px; }
  .editorial-instructor-unit--c_editorial-unit__footer--35Zi2 {
    margin: auto 0 10px; }
  .editorial-instructor-unit--c_editorial-unit__instructor-cta--3Jx7q {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .editorial-instructor-unit--c_editorial-unit__instructor-cta--3Jx7q img {
      margin-right: 0; }
    .editorial-instructor-unit--c_editorial-unit__instructor-cta--3Jx7q span {
      flex: 1;
      min-width: 1px; }
    .editorial-instructor-unit--c_editorial-unit__instructor-cta--3Jx7q:last-child {
      display: none; } }

@media (min-width: 576px) {
  .streamer__headline {
    font-size: 40px;
    line-height: 1.33; }
  .streamer__text {
    font-size: 18px;
    line-height: 1.61; } }

@media (min-width: 768px) {
  .merchandising-course-card--card--18b3i {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.15);
    width: 230px; }
  .slider-list--slider-wrapper--3jv2F {
    width: 720px; }
  .non-student-cta {
    flex-direction: row;
    padding-bottom: 22px; }
  .non-student-cta__block {
    flex-grow: 1;
    justify-content: center;
    padding: 28px 30px; }
    .non-student-cta__block:first-child {
      border-bottom: none;
      border-right: 1px solid #dfdfdf;
      padding: 28px 30px; }
  .non-student-cta__text {
    max-width: 320px;
    text-align: center; }
  .non-student-cta__header {
    font-size: 24px; }
  .non-student-cta__content {
    font-size: 15px;
    padding-top: 5px; }
  .non-student-cta__link {
    padding-top: 5px; }
    .non-student-cta__link a {
      font-size: 15px; } }

@media (min-width: 992px) {
  .merchandising-course-card--card--18b3i {
    width: 220px; }
  .slider-list--slider-wrapper--3jv2F {
    width: 925px; } }

@media (min-width: 1200px) {
  .merchandising-course-card--card--18b3i {
    width: 216px; }
  .slider-list--slider-wrapper--3jv2F {
    width: 1140px; } }

@media (min-width: 1430px) {
  .slider-list--slider-wrapper--3jv2F {
    width: 1371px; } }

@media screen and (max-width: 768px) {
  .merchandising-course-card--responsive--2gbJO {
    border-bottom: 1px solid #e3e3e3;
    display: block;
    width: auto;
    height: auto;
    box-shadow: none; }
    .merchandising-course-card--responsive--2gbJO .merchandising-course-card--mask--22Fbx {
      display: flex;
      background: none;
      padding: 5px 0; }
      .merchandising-course-card--responsive--2gbJO .merchandising-course-card--mask--22Fbx .merchandising-course-card--card__instructor-titles--2G1cg, .merchandising-course-card--responsive--2gbJO .merchandising-course-card--mask--22Fbx .merchandising-course-card--details__name--f-IuD {
        height: auto;
        margin: 0; }
    .merchandising-course-card--responsive--2gbJO .merchandising-course-card--card__options--2qpEK {
      height: 87px;
      overflow: hidden;
      min-width: 87px;
      width: 87px; }
      .merchandising-course-card--responsive--2gbJO .merchandising-course-card--card__options--2qpEK img {
        max-width: none;
        width: auto;
        height: 87px;
        margin-left: -34px; }
    .merchandising-course-card--responsive--2gbJO .merchandising-course-card--card__details--2yDtK {
      display: block;
      width: 100%;
      padding: 0 0 0 10px; }
      .merchandising-course-card--responsive--2gbJO .merchandising-course-card--card__details--2yDtK .merchandising-course-card--card__instructor-titles--2G1cg, .merchandising-course-card--responsive--2gbJO .merchandising-course-card--card__details--2yDtK .merchandising-course-card--details__name--f-IuD {
        min-height: 0;
        margin: 0 0 5px !important; }
    .merchandising-course-card--responsive--2gbJO .merchandising-course-card--card__pricing--2WOFo {
      padding-left: 0;
      padding-bottom: 0;
      min-height: 0; }
  .star-rating--details__rating--3ldWC {
    padding: 0 15px 0 0; }
  .new-channel .carousel-fullscreen-sidebar {
    padding: 0 20px;
    width: 100%; }
  .c_collection__item {
    width: 45% !important;
    flex: auto;
    min-width: 1px; }
    .c_collection__item:nth-child(n) {
      margin-right: 15px !important; }
    .c_collection__item:first-child {
      flex: 1 0 100%;
      margin-right: 0 !important; } }
