.container-homepage .new-channel {
  position: relative;
  z-index: 1;
  width: auto; }

.container-homepage .carousel-fullscreen-sidebar {
  margin: 30px auto; }

@media (min-width: 576px) {
  .container-homepage .channels {
    padding-top: 8px; } }

@media (min-width: 768px) {
  .container-homepage .carousel-fullscreen-sidebar {
    width: 754px;
    padding-left: 15px;
    padding-right: 15px; }
  .container-homepage .channels {
    padding-top: 56px; } }

@media (min-width: 992px) {
  .container-homepage .carousel-fullscreen-sidebar {
    width: 974px; } }

@media (min-width: 1200px) {
  .container-homepage .carousel-fullscreen-sidebar {
    width: 1174px; } }

.container-homepage .channels {
  margin-top: 0; }

.container-homepage .how-udemy-works-container {
  -webkit-transform: translateY(-50%) translateY(-30px);
  -moz-transform: translateY(-50%) translateY(-30px);
  -ms-transform: translateY(-50%) translateY(-30px);
  -o-transform: translateY(-50%) translateY(-30px);
  transform: translateY(-50%) translateY(-30px);
  display: block;
  left: 0;
  margin-top: 0;
  position: absolute;
  right: 0; }

.container-homepage .how-udemy-works {
  display: flex;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 2px; }
  .container-homepage .how-udemy-works .how-udemy-works__icon--small {
    width: 20px; }

.container-homepage .how-udemy-works__col {
  padding: 25px;
  width: 33%; }

.container-homepage .how-udemy-works__icon {
  float: left;
  margin-right: 20px;
  width: 40px; }

.container-homepage .how-udemy-works__text {
  font-size: 13px; }

.container-homepage .carousel-fullscreen-sidebar:last-child {
  margin-bottom: 0; }

@media (min-width: 576px) {
  .container-homepage .streamer {
    align-items: center;
    background-image: url("./../stylesheets/images/homepage_hero_cropped.jpg");
    height: 500px;
    padding: 0; } }

@media (min-width: 1200px) {
  .container-homepage .streamer--base {
    background-position: center 30%; } }

@media (max-width: 1431px) {
  .container-homepage .streamer {
    background-size: 119%;
    background-position: 0 0; } }
